@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: white;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #ccc;
}
p {
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
}
p.test {
  font-family: "Courier New", Courier, monospace;
  color: brown;
  font-size: 30px;
  margin: 20px 50px 0 0;
}
p.test1 {
  font-family: "Courier New", Courier, monospace;
  color: brown;
  font-size: 27px;
  margin: 20px 50px 0 0;
  text-align: center;
}
div.logo {
  position: relative;
  right: 110px;
}
div.nav-link1 {
  background-attachment: scroll;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  position: relative;
  left: 130px;
  top: 5px;
}
a.nav-link1 {
  font-size: 18px;
}
div.nav-link2 {
  background-attachment: scroll;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  position: relative;
  left: 90px;
  top: 5px;
}
a.nav-link2 {
  font-size: 18px;
}
div.nav-link3 {
  background-attachment: scroll;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  position: relative;
  left: 60px;
  top: 5px;
}
a.nav-link3 {
  font-size: 18px;
}
div.nav-link4 {
  position: relative;
  left: 20px;
}
a.nav-link4 {
  font-size: 20px;
}
h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
a {
  text-decoration: none !important;
  color: #395db8;
}
ul {
  margin-bottom: 0px;
}
@media (max-width: 991px) {
  html,
  body {
    overflow-x: hidden;
  }
}
.main-border-button a {
  font-size: 13px;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 25px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.3s;
}

.main-border-button a:hover {
  background-color: #fff;
  color: #2a2a2a;
}
/* header */
.background-header {
  border-bottom: none !important;
  background-color: #fff;
  height: 80px !important;
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

@media (max-width: 1200px) {
  .main-banner .right-content .right-first-image .thumb .hover-content p {
    display: none;
  }
}
.main-banner {
  border-bottom: 3px dotted #eee;
  padding-top: 160px;
  padding-bottom: 30px;
}

.main-banner .left-content .thumb img {
  width: 100%;
  overflow: hidden;
}

.main-banner .left-content .inner-content {
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.main-banner .left-content .inner-content h4 {
  color: #fff;
  margin-top: -10px;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

.main-banner .left-content .inner-content span {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  font-style: italic;
  display: block;
  margin-bottom: 30px;
}

.main-banner .right-content .right-first-image {
  margin-bottom: 28.5px;
}

.main-banner .right-content .right-first-image .thumb {
  position: relative;
  text-align: center;
}

.main-banner .right-content .right-first-image .thumb img {
  width: 100%;
  overflow: hidden;
}

.main-banner .right-content .right-first-image .thumb .inner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.main-banner .right-content .right-first-image .thumb .inner-content h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.main-banner .right-content .right-first-image .thumb .inner-content span {
  font-size: 16px;
  color: #fff;
  font-style: italic;
}

.main-banner .right-content .right-first-image .thumb .hover-content {
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  text-align: center;
  background-color: rgba(42, 42, 42, 0.97);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.main-banner .right-content .right-first-image .thumb:hover .hover-content {
  opacity: 1;
  visibility: visible;
}

.main-banner .right-content .right-first-image .thumb .hover-content .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.main-banner .right-content .right-first-image .thumb .hover-content h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.main-banner .right-content .right-first-image .thumb .hover-content p {
  color: #fff;
  padding: 0px 20px;
  margin-bottom: 20px;
}
img.coso1,.coso2,.coso3,.coso4 {
  border-radius: 10%;
}
/*
---------------------------------------------
coso1
---------------------------------------------
*/

.coso1 {
  padding-top: 15px;

}

.coso1 .section-heading {
  margin-bottom: 60px;
}

.coso1 .item .down-content {
  padding-top: 30px;
  position: relative;
  z-index: 3;
  background-color: #fff;
}

.coso1 .item .down-content h4 {
  font-size: 22px;
  color: #2a2a2a;
  font-weight: 700;
  margin-bottom: 8px;
}

.coso1 .item .down-content span {
  font-size: 18px;
  color: #a1a1a1;
  font-weight: 500;
  display: block;
}

.coso1 .item .down-content ul.stars {
  position: absolute;
  right: 0;
  top: 30px;
}

.coso1 .item .down-content ul.stars li {
  display: inline;
  font-size: 13px;
}

.coso1 .item .thumb .hover-content {
  position: absolute;
  z-index: 2;
  text-align: center;
  bottom: -60px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.coso1 .item .thumb:hover .hover-content {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

.coso1 .item .thumb {
  position: relative;
}

.coso1 .item .thumb .hover-content ul li {
  display: nav inline;
  margin: 0px 10px;
}

.coso1 .item .thumb .hover-content ul li a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  color: #2a2a2a;
  background-color: #fff;
}

.coso1 .owl-nav {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-25px);
}

.coso1 .owl-dots {
  display: none;
}

.coso1 .owl-nav .owl-prev {
  position: absolute;
  left: -80px;
  outline: none;
}

.coso1 .owl-nav .owl-prev span,
.coso1 .owl-nav .owl-next span {
  opacity: 0;
}

.coso1 .owl-nav .owl-prev:before {
  display: inline-block;
  font-family: "FontAwesome";
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  content: "\f104";
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 48px;
  border: 1px solid #2a2a2a;
}

.coso1 .owl-nav .owl-prev {
  opacity: 0.75;
  transition: all 0.5s;
}

.coso1 .owl-nav .owl-prev:hover {
  opacity: 1;
}

.coso1 .owl-nav .owl-next {
  opacity: 0.75;
  transition: all 0.5s;
}

.coso1 .owl-nav .owl-next:hover {
  opacity: 1;
}

.coso1 .owl-nav .owl-next {
  outline: none;
  position: absolute;
  right: -85px;
}

.coso1 .owl-nav .owl-next:before {
  display: inline-block;
  font-family: "FontAwesome";
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  content: "\f105";
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 48px;
}
/*
---------------------------------------------
coso2
---------------------------------------------
*/

.coso2 {
  padding-top: 15px;
}

.coso2 .section-heading {
  margin-bottom: 60px;
}

.coso2 .item .down-content {
  padding-top: 30px;
  position: relative;
  z-index: 3;
  background-color: #fff;
}

.coso2 .item .down-content h4 {
  font-size: 22px;
  color: #2a2a2a;
  font-weight: 700;
  margin-bottom: 8px;
}

.coso2 .item .down-content span {
  font-size: 18px;
  color: #a1a1a1;
  font-weight: 500;
  display: block;
}

.coso2 .item .down-content ul.stars {
  position: absolute;
  right: 0;
  top: 30px;
}

.coso2 .item .down-content ul.stars li {
  display: inline;
  font-size: 13px;
}

.coso2 .item .thumb .hover-content {
  position: absolute;
  z-index: 2;
  text-align: center;
  bottom: -60px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.coso2 .item .thumb:hover .hover-content {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

.coso2 .item .thumb {
  position: relative;
}

.coso2 .item .thumb .hover-content ul li {
  display: inline;
  margin: 0px 10px;
}

.coso2 .item .thumb .hover-content ul li a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  color: #2a2a2a;
  background-color: #fff;
}

.coso2 .owl-nav {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-25px);
}

.coso2 .owl-dots {
  display: none;
}

.coso2 .owl-nav .owl-prev {
  position: absolute;
  left: -80px;
  outline: none;
}

.coso2 .owl-nav .owl-prev span,
.coso2 .owl-nav .owl-next span {
  opacity: 0;
}

.coso2 .owl-nav .owl-prev:before {
  display: inline-block;
  font-family: "FontAwesome";
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  content: "\f104";
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 48px;
  border: 1px solid #2a2a2a;
}

.coso2 .owl-nav .owl-prev {
  opacity: 0.75;
  transition: all 0.5s;
}

.coso2 .owl-nav .owl-prev:hover {
  opacity: 1;
}

.coso2 .owl-nav .owl-next {
  opacity: 0.75;
  transition: all 0.5s;
}

.coso2 .owl-nav .owl-next:hover {
  opacity: 1;
}

.coso2 .owl-nav .owl-next {
  outline: none;
  position: absolute;
  right: -85px;
}

.coso2 .owl-nav .owl-next:before {
  display: inline-block;
  font-family: "FontAwesome";
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  content: "\f105";
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 48px;
  border: 1px solid #2a2a2a;
}
/*
---------------------------------------------
coso3
---------------------------------------------
*/

.coso3 {
  padding-top: 15px;
}

.coso3 .section-heading {
  margin-bottom: 60px;
}

.coso3 .item .down-content {
  padding-top: 30px;
  position: relative;
  z-index: 3;
  background-color: #fff;
}

.coso3 .item .down-content h4 {
  font-size: 22px;
  color: #2a2a2a;
  font-weight: 700;
  margin-bottom: 8px;
}

.coso3 .item .down-content span {
  font-size: 18px;
  color: #a1a1a1;
  font-weight: 500;
  display: block;
}

.coso3 .item .down-content ul.stars {
  position: absolute;
  right: 0;
  top: 30px;
}

.coso3 .item .down-content ul.stars li {
  display: inline;
  font-size: 13px;
}

.coso3 .item .thumb .hover-content {
  position: absolute;
  z-index: 2;
  text-align: center;
  bottom: -60px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.coso3 .item .thumb:hover .hover-content {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

.coso3 .item .thumb {
  position: relative;
}

.coso3 .item .thumb .hover-content ul li {
  display: inline;
  margin: 0px 10px;
}

.coso3 .item .thumb .hover-content ul li a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  color: #2a2a2a;
  background-color: #fff;
}

.coso3 .owl-nav {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-25px);
}

.coso3 .owl-dots {
  display: none;
}

.coso3 .owl-nav .owl-prev {
  position: absolute;
  left: -80px;
  outline: none;
}

.coso3 .owl-nav .owl-prev span,
.coso3 .owl-nav .owl-next span {
  opacity: 0;
}

.coso3 .owl-nav .owl-prev:before {
  display: inline-block;
  font-family: "FontAwesome";
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  content: "\f104";
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 48px;
  border: 1px solid #2a2a2a;
}

.coso3 .owl-nav .owl-prev {
  opacity: 0.75;
  transition: all 0.5s;
}

.coso3 .owl-nav .owl-prev:hover {
  opacity: 1;
}

.coso3 .owl-nav .owl-next {
  opacity: 0.75;
  transition: all 0.5s;
}

.coso3 .owl-nav .owl-next:hover {
  opacity: 1;
}

.coso3 .owl-nav .owl-next {
  outline: none;
  position: absolute;
  right: -85px;
}

.coso3 .owl-nav .owl-next:before {
  display: inline-block;
  font-family: "FontAwesome";
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  content: "\f105";
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 48px;
  border: 1px solid #2a2a2a;
}
/*
---------------------------------------------
coso4
---------------------------------------------
*/

.coso4 {
  padding-top: 15px;
}

.coso4 .section-heading {
  margin-bottom: 60px;
}

.coso4 .item .down-content {
  padding-top: 30px;
  position: relative;
  z-index: 3;
  background-color: #fff;
}

.coso4 .item .down-content h4 {
  font-size: 22px;
  color: #2a2a2a;
  font-weight: 700;
  margin-bottom: 8px;
}

.coso4 .item .down-content span {
  font-size: 18px;
  color: #a1a1a1;
  font-weight: 500;
  display: block;
}

.coso4 .item .down-content ul.stars {
  position: absolute;
  right: 0;
  top: 30px;
}

.coso4 .item .down-content ul.stars li {
  display: inline;
  font-size: 13px;
}

.coso4 .item .thumb .hover-content {
  position: absolute;
  z-index: 2;
  text-align: center;
  bottom: -60px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.coso4 .item .thumb:hover .hover-content {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

.coso4 .item .thumb {
  position: relative;
}

.coso4 .item .thumb .hover-content ul li {
  display: inline;
  margin: 0px 10px;
}

.coso4 .item .thumb .hover-content ul li a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  color: #2a2a2a;
  background-color: #fff;
}

.coso4 .owl-nav {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-25px);
}

.coso4 .owl-dots {
  display: none;
}

.coso4 .owl-nav .owl-prev {
  position: absolute;
  left: -80px;
  outline: none;
}

.coso4 .owl-nav .owl-prev span,
.coso4 .owl-nav .owl-next span {
  opacity: 0;
}

.coso4 .owl-nav .owl-prev:before {
  display: inline-block;
  font-family: "FontAwesome";
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  content: "\f104";
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 48px;
  border: 1px solid #2a2a2a;
}

.coso4 .owl-nav .owl-prev {
  opacity: 0.75;
  transition: all 0.5s;
}

.coso4 .owl-nav .owl-prev:hover {
  opacity: 1;
}

.coso4 .owl-nav .owl-next {
  opacity: 0.75;
  transition: all 0.5s;
}

.coso4 .owl-nav .owl-next:hover {
  opacity: 1;
}

.coso4 .owl-nav .owl-next {
  outline: none;
  position: absolute;
  right: -85px;
}

.coso4 .owl-nav .owl-next:before {
  display: inline-block;
  font-family: "FontAwesome";
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  content: "\f105";
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 48px;
  border: 1px solid #2a2a2a;
}
